@media (max-width: 768px) {

    .header-content {
        padding: 40px 20px;
        }
    
    .header-content h1 {
        font-size: 50px;
        }
    .main-header img {
        
    }
        
    
}

@media (max-width: 992px) {

    .header-content h1 {
        font-size: 50px;
        line-height: 1.3;
        }
    .button {
        font-size: 18px;
    }
    .buttoncase {
        grid-column: 1 / 4;
    }    
    .portfolio-section {
        grid-template-columns: repeat(3, 1fr); 
    }
    .porfolio-item {
        min-height: 40vh;
        font-size: 16px;
    }
    .portfolio-item:nth-child(4) {
		grid-column: 2 / 4;
    }
    .portfolio-item:nth-child(5) {
		grid-column: 1 / 3;
		grid-row: initial;
    }
	.portfolio-item:nth-child(6) {
		grid-column: initial;
		grid-row:  initial;
	}
	.portfolio-item:nth-child(7) {
		grid-column: 1 / 3;
		grid-row:  initial;
	}
	.portfolio-item:nth-child(9) {
		display: none;
	}
}

@media (max-width: 480px) {
    .header-content h1 {
		font-size: 40px;
    }
    .portfolio-section {
        grid-template-columns: 450px;
    }
    .porfolio-item {
        min-height: 50vh;
    }
    .portfolio-item:nth-child(1) {
        grid-column: initial;
    }
    .portfolio-item:nth-child(5) {
        grid-column: initial;
    }
    .portfolio-item:nth-child(4) {
        grid-column: initial;
    }
    .buttoncase {
        grid-column: 1 / 2;
    }
}
